{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tindahan sa JH</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/bottomNav.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <body class="bg-slate-300">
    
    <div class="p-1 text-white mb-3 mt-3">
      <div class="flex flex-nowrap overflow-scroll">      
          <a href="#" class="bg-green-600 p-2 rounded-xl text-white">All</a>
          <a href="#" class="bg-green-600 p-2 rounded-xl ml-2 text-white">Snacks</a>
          <a href="#" class="bg-green-600 p-2 rounded-xl ml-2 text-white">Vegetables</a>
          <a href="#" class="bg-green-600 p-2 rounded-xl ml-2 text-white">Softdrinks</a>
          <a href="#" class="bg-green-600 p-2 rounded-xl ml-2 text-white">Snacks</a>
      </div>
    </div>
    <div class="p-2 mb-24">
        {% for items in products %}
            <div class="max-w-sm mb-3 bg-white border border-gray-800 rounded-lg shadow dark:bg-gray-800 dark:border-gray-800">
                <div  class="relative">
                    <h3 class="absolute rounded-lg text-sm text-white top-5 left-5 bg-blue-400/70 p-2">{{ items.type }}</h3>
                    <img class="rounded-xl" src="{{ items.pic }}" width="100%" alt="" />
                </div>
                <div class="p-3">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ items.name }}</h5>
                    </a>
                    <div class="flex flex-row justify-between">
                        {% if items.status == "Available" %}
                        <p class="mb-3 text-green-300 font-semibold">{{ items.status }}</p>
                        <p class="text-white font-bold">₱ {{ items.price }}.00</p>

                        {% elif items.status == "Not Available" %}
                        <del class="mb-3 text-red-300 font-semibold">Available</del>
                        <del class="text-red-300 font-bold">₱ 10</del>
                        {% endif %}
                    </div>

                    {% if items.status == "Available" %}
                        <a href="#" data-name="{{ items.name }}" data-price="{{ items.price }}"  class="add-to-cart inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Add to list
                            <i class='bx bx-note ml-1' ></i>
                        </a>

                    {% elif items.status == "Not Available" %}
                        <p href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                            Out of Stock
                            <i class='bx bx-note ml-1' ></i>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Main -->
      
     <!-- Modal -->
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="show-cart table">
              
            </table>
            <div>Total price: ₱ <span class="total-cart"></span></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Order now</button>
            <button class="clear-cart btn btn-danger">Clear all</button>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-navbar mt-[150px]">
        <div class="con-effect">
            <div class="effect"></div>
        </div>
        <button class="active">
            <i class='bx bx-home'></i>
        </button>
        <button>
            <i class='bx bx-chat' ></i>
        </button>
        <button 
            data-toggle="modal" data-target="#cart"
            class="float">
            <i class='bx bx-note' ></i>
        </button>
        <button>
            <i class='bx bx-shopping-bag' ></i>
        </button>
        <button>
            <i class='bx bx-user' ></i>
        </button>
</div>
  </body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js'></script>
  <script src="{% static 'js/bottomNav.js' %}"></script>
  <script src="{% static 'js/products.js' %}"></script>
</html>
